extends ../layout

block head
    link(href='/stylesheets/home.css', rel='stylesheet')

//treść
block content
    .container
        // Main component for a primary marketing message or call to action
        .jumbotron
            h2
                i.glyphicon.glyphicon-flag
                |  Lokalizacja
    // /container

