extends ../layout

block head
    link(href='/stylesheets/settings.css', rel='stylesheet')

//treść
block content
    .container
        // Main component for a primary marketing message or call to action
        .jumbotron
            h2
                i.glyphicon.glyphicon-user
                |  Profil
            ul.nav.nav-tabs.nav-justified
                li
                    a(href='/settings/profile') Dane użytkownika
                li.active
                    a(href='/settings/notifications') Powiadomienia



            form.form-changedata(action='/settings/notifications', method='POST')
                h3
                    i.glyphicon.glyphicon-bell
                    |  Powiadomienia e-mail
                // do uzupełnienia
                .input-group
                    span.input-group-addon
                        i.glyphicon.glyphicon-send
                    input#inputEmail.form-control.input-sm(type='text', name='user_email', placeholder='twojadres@email.pl', required='', autofocus='')
                br
                button.btn.btn-md.btn-primary(type='submit', role='button') Zmień e-mail


    // /container


