extends layout

block head
    link(href='/stylesheets/settings.css', rel='stylesheet')

block content
  .container
      .jumbotron
           h1.
               User List
           ul
               each user, i in userlist
                   li
                       a(href="mailto:#{user.email}")= user.username

           h3 Dodaj użytkownika
           form#formAddUser.form-changedata(name="adduser", method="POST", action="/example")
               input#inputUserName.form-control.input-sm(type="text", placeholder="username", name="username")
               input#inputUserEmail.form-changedata(type="text", placeholder="useremail", name="useremail")
               button#btnSubmit.btn.btn-md.btn-primary(type="submit") submit